
<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip !</h1>
           
  
      <a href="/gossips/new/">clique ici pour enregistrer tes propres gossips </a> 
    
  </body>
</html>
